/* * {
    outline: 1px solid red;
} */

/* .row {
    height: 100px;
} */

html {
    scroll-behavior: smooth;
}

.carousel-caption {
    border-radius: 15px;
    width: 35%;
    margin-left: 210px;
}

.business-icon {
    display: flex;
    justify-content: center;
}

@media(max-width: 400px) {
    .plant-three-second {
        margin-top: 40px;
    }
}

svg.bi.bi-star-fill {
    color: #FFF200;
}

input.form-control {
    min-width: 350px;
}